name: Run Strategies
# Инструкции когда запускать
on:
  # запуск после пайплайна Fetch Market Data
  workflow_run:
    workflows: ["Fetch Market Data"]
    types:
      - completed
  workflow_dispatch: {}     # Возможность ручного запуска из интерфейса GitHub

  schedule:
    - cron: "2 * * * *"

# Инструкции что запускать
jobs: # Список задач
  run:
    # запуск только в случае успешного выполнения Fetch Market Data
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest  # запускать на свежей виртуальной машине Ubuntu

    environment: ai_env   # Секреты из окружения ai_env
    env:
      DB_HOST: ${{ secrets.DB_HOST }}
      DB_NAME: ${{ secrets.DB_NAME }}
      DB_USER: ${{ secrets.DB_USER }}
      DB_PASS: ${{ secrets.DB_PASS }}
      TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
      TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}

    # Шаги выполнения 
    steps:
      - uses: actions/checkout@v3       # Скачай код иэ этого репозитория
      
      - uses: actions/setup-python@v4   # Установи Python
        with: 
          python-version: "3.10"        # с параметрами версии

      # Установка используемых в коде библиотек
      - name: Install dependencies
        run: pip install -r requirements.txt

      # 1Шаг для отладки
      - name: Debug DB variables
        run: env | grep DB_ # Показываем все  переменные с префиксом "DB_"

      # 2Шаг для отладки
      - name: Debug TG variables
        run: env | grep TELEGRAM_ # Показываем все  переменные с префиксом "TELEGRAM_"
        
      # Основной шаг - запуск исполняемого модуля
      - name: Run strategies
        run: python runner.py   # Файл запуска всех стратегий
